*.bak
/.metadata/
/.recommenders/
Archive
.DS_Store
.*.swp
/.gradle/
/reports/
/generated/
.to

.github
.gradle
.idea
.metadata
cnf
gradle
build.gradle
gradle.properties
gradlew
gradlew.bat
LICENSE
settings.gradle

**/generated/
